@import "../../assets/stylesheets/import";

.activity-item {
  padding-bottom: 15px;
  margin-bottom: 5px;
  border-bottom: 1px solid $iron;


  .date {
    display: block;
    font-size: 10px;
    margin-bottom: 7px;
  }

  .content {
    font-size: 10pt;
  }
}