@import "../../assets/stylesheets/app";

.card {
  width: 100%;
  background-color: $white;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
  cursor: pointer;

  &:hover {
    background-color: $grey-light;
  }

  &>.title {
    color: $black;
    font-size: 14px;
    font-weight: normal;
    display: block;
    padding: 10px;
  }
}

.card-details-full-screen-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, .6);

  .card-details {
    position: relative;
    margin: 20px 0;
    z-index: 25;
  }
}