@import "../../assets/stylesheets/import";

.avatar-editor {
  position: relative;
  width: 50px;
  height: 50px;

  .badge {
    border: 0;
    font-size: 10px;
    background-color: $grey;
    position: absolute;
    color: $white;
    top: -8px;
    right: -8px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .btn-remove {
    cursor: pointer;
  }

  .file-input-trigger {
    @include rounded-box;
    @include shadowed-box;
    background-size: cover;
    border: 1px solid $black;
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
  }

  .file-input {
    display: none;
  }
}
