@import "../../assets/stylesheets/style";

.add-comment-form {
  padding: 10px 0;

  .content {
    @include rounded-box;
    background-color: $white;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: $black;
    margin-bottom: 10px;
  }

  .btn {
    margin-right: 10px;
  }

  .btn-process {
    cursor: progress;
  }

  .file-input {
    display: none;
  }
}
