{
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "ecmaFeatures": {
    jsx: true
  },
  "plugins": ["jasmine"],
  "extends": ["eslint-config-airbnb"],
  "rules": {
    "comma-dangle": 0,
    "class-methods-use-this": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "object-shorthand": [2, "consistent"],
    "react/prop-types": 0,
    "react/no-find-dom-node": 1,
    "no-use-before-define": 0,
    "no-unused-vars": [1, { "argsIgnorePattern": "^_" }],
    "max-len": [2, {"code": 120, "ignoreComments": true}],
    "no-alert": 0,
    "arrow-body-style": 0,
    "jsx-a11y/no-static-element-interactions": 0
  },
  "globals": {
    "browser": true,
    "before": true,
    "after": true,
    "$": true
  }
}
