language: node_js
dist: trusty
sudo: required
node_js:
  - '8'
  - '7'
  - '6'
  - '5'
  - '4'

before_install:
 - export CHROME_BIN=/usr/bin/google-chrome
 - export DISPLAY=:99.0
 - sh -e /etc/init.d/xvfb start

addons:
  apt:
    sources:
     - google-chrome
    packages:
     - google-chrome-stable

script:
  - npm run specs

notifications:
  email:
    on_success: always
    on_failure: always