@import "../../assets/stylesheets/style";

.card-details {
  width: 570px;
  background-color: $iron;
  padding: 0 10px 10px 10px;
  cursor: initial;

  .title-wrapper {
    background-color: $iron-slightly-darker;
    margin: 0 -10px;
    padding: 10px 6px 1px 6px;
  }

  .title {
    @include card-details-header;
    line-height: 30px;
  }

  .sub-title {
    @include card-details-sub-header;
  }

  .section-title {
    padding-top: 20px;
    color: $black;
  }

  .description-input {
    color: $black;
    font-size: 14px;
    font-weight: normal;
    min-height: 125px;
    float: left;
    width: 80%;
    border: 1px solid transparent;

    &:hover:not(:focus) {
      @include rounded-box;
      box-shadow: none;
      border: 1px solid $silver;
    }

    &:focus {
      @include rounded-box;
      border: 1px solid transparent;
    }
  }

  .utils-section {
    width: 20%;
    float: left;
    padding-left: 5px;
    box-sizing: border-box;

    .btn {
      width: 100%;
      margin-bottom: 5px;
    }
  }

  .labels {
    @extend .clearfix;

    .label {
      @include rounded-box;
      @include outlined-text;
      display: block;
      overflow-x: auto;
      max-width: 100%;
      padding: 5px;
      margin: 0 10px 10px 0;
      float: left;
    }
  }

  .label-picker-checkbox, .label-picker-visible {
    display: none;
  }

  .label-picker-checkbox:checked ~ .label-picker-visible {
    display: block;
  }

  .label-picker-visible.off-trigger {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
  }

  .label-picker-wrapper {
    position: relative;
    z-index: 60;

    .label-picker {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
