@import "../../assets/stylesheets/import";

.card-details {
  width: 570px;
  background-color: $iron;
  padding: 0 10px 10px 10px;
  cursor: initial;

  .title-wrapper {
    background-color: $iron-slightly-darker;
    margin: 0 -10px 10px;
    padding: 10px 6px 1px 6px;
  }

  .btn-close {
    float: right;
    padding: 0 5px 5px;
    color: $silver;

    &:hover {
      color: $grey;
    }
  }

  .top-section {
    display: flex;
  }

  .info-section {
    flex-grow: 2;
  }

  .title {
    padding: 0 3px;
    margin-bottom: 4px;
    line-height: 30px;
    width: 545px;
  }

  .sub-title {
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 8px;
    color: $grey;
  }

  .section-title {
    padding-top: 20px;
    color: $black;
  }

  .description-input {
    color: $black;
    font-size: 14px;
    font-weight: normal;
    min-height: 125px;
    border: 1px solid transparent;

    &:hover:not(:focus) {
      @include rounded-box;
      border: 1px solid $silver;
    }

    &:focus {
      @include rounded-box;
      border: 1px solid transparent;
    }
  }

  .utils-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 20%;
    padding-left: 5px;
    box-sizing: border-box;

    .btn {
      width: 100%;
      margin-top: 5px;
    }
  }

  .members-section {
    flex-grow: 2;
  }

  .labels-section {
    @extend .clearfix;

    .label {
      @include rounded-box;
      @include outlined-text;
      display: block;
      overflow-x: auto;
      max-width: 100%;
      min-width: 29px;
      min-height: 29px;
      padding: 5px;
      margin: 0 10px 10px 0;
      float: left;
    }
  }

  .member-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .member {
      height: 27px;
      width: 27px;
    }
  }
}

.sub-modal {
  .off-trigger {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
  }

  .anchor {
    position: relative;
    z-index: 60;

    .sub-modal-content {
      @include shadowed-box;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
