@import "../../assets/stylesheets/import";

.avatar {
  @include rounded-box;
  background-size: cover;
  border: 1px solid $iron-slightly-darker;
  width: 25px;
  height: 25px;
  display: inline-block;
}
