@import "../../assets/stylesheets/import";

.avatar {
  @include rounded-box;
  @include shadowed-box;
  background-size: cover;
  border: 1px solid $black;
  width: 25px;
  height: 25px;
  display: inline-block;
}
