@import "../../assets/stylesheets/style";

.login {
  width: 100%;
  height: 100%;
  background-color: $malachite;
  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    width: 400px;
    background-color: $white;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.5);
  }

  .title {
    color: $black;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .input {
    width: 100%;
    border: 1px solid $iron;
    height: 35px;
    font-size: 18px;
    display: block;
    padding: 0 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .btn-success {
    margin-right: 10px;
  }
}

