@import "../../assets/stylesheets/app";

.column {
  width: 100%;
  background-color: $grey;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.5);
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

  .card-list {
    height: 100%;
    overflow-y: auto;
  }

  .card {
    margin-bottom: 10px;
  }
}

//
// make sure there is a space for a cards drop-zone
// when column is empty
body.gu-unselectable .column .card-list {
  min-height: 47px;
}