@import "../../assets/stylesheets/import";

.column {
  width: 270px;
  padding: 10px 10px 0 10px;

  overflow: hidden;
  border-right: 1px solid $silver;

  &.gu-transit {
    border-right: 1px solid transparent;
  }

  .column-title {
    padding: 0 3px;
    margin-bottom: 4px;
    line-height: 30px;
    width: 248px;
    float: left;
  }

  .btn-remove {
    float: right;
    padding: 0 0 0 5px;
    font-size: 15px;
    line-height: 30px;
    color: $silver;
    &:hover {
      color: $black;
    }
  }

  .card-list {
    margin-top: 2px;
    margin-right: -35px;
    padding-right: 35px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .card {
    margin-bottom: 10px;
  }
}

//
// make sure there is a space for a cards drop-zone
// when column is empty
body.gu-unselectable .column .card-list {
  min-height: 47px;
}