@import "../../assets/stylesheets/app";


.card-comment {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  .author {
    font-size: 16px;
    color: $black;
  }

  .date {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    color: $grey-dark;
  }

  .btn-delete {
    display: inline-block;
    font-size: 12px;
    color: $grey-dark;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .content {
    background-color: $white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
    white-space: pre;
  }

  .attachment {
    text-decoration: none;

    img {
      max-width: 100%;
      margin: 10px auto;
      display: block;
    }

    .attachment-file-wrapper {
      display: block;
      border: 1px solid $grey-dark;
      width: 70px;
      height: 70px;
      border-radius: 3px;
      margin: 0 auto 10px auto;
    }

    .attachment-description {
      color: $grey-dark;
      text-align: center;
      font-size: 12px;
      display: block;
    }
  }
}
