.btn {
  @include rounded-box;
  @include unselectable-text;
  @include shadowed-box;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  padding: 7px 15px;
  text-align: center;
  background-color: transparent;
}

.btn-success {
  background-color: $malachite; // will be reapplied by theme css
  color: $white;

  &:hover {
    opacity: 0.8;
  }
}

.btn-danger {
  background-color: $mexican-red;
  color: $white;
  font-weight: bold;

  &:hover {
    opacity: 0.8;
  }
}

.btn-raw-icon {
  box-shadow: none;
  font-weight: normal;
  color: $black;
  vertical-align: middle;
  font-size: 21px;
}

.btn-link {
  color: $grey;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn-small {
  font-size: 12px;
  font-weight: normal;
}

