// colors
$malachite: #00BF34;
$mexican-red: #a82639;
$porcelain: #EDEFF0;
$iron: #E2E4E6;
$iron-slightly-darker: #DBDDDF;
$silver: #CCCCCC;
$tundora: #4D4D4D;
$grey: #8c8c8c;
$black: #4d4d4d;
$white: white;
$green: #5BAF46;

// relative dimentions
$topbar-height: 45px;
