// colors
$malachite: #3CB500;
$mexican-red: #a82639;
$porcelain: #EDEFF0;
$iron: #E2E4E6;
$iron-slightly-darker: #DBDDDF;
$silver: #CCCCCC;
$grey: #8c8c8c;
$black: #4d4d4d;
$white: white;
$red: red;

// relative dimentions
$topbar-height: 45px;
