@import "../../assets/stylesheets/import";

.card-label-picker {
  @include rounded-box;
  width: 250px;
  background-color: $porcelain;
  padding: 5px 10px;

  .header {
    font-size: 16px;
    color: $black;
    padding: 0 3px;
    margin-bottom: 4px;
    line-height: 30px;
    border-bottom: 1px solid $iron;
  }

  .label {
    @include rounded-box;
    @include outlined-text;
    display: block;
    width: 100%;
    height: 29px;
    margin: 0 10px 5px 0;
    padding: 5px;
    overflow-x: auto;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}