@import "../../assets/stylesheets/import";

.card-label-picker {
  @include rounded-box;
  width: 250px;
  background-color: $porcelain;
  padding: 5px 10px;

  .title {
    font-size: 16px;
    color: $black;
  }

  .label {
    @include rounded-box;
    cursor: pointer;
    width: 100%;
    min-height: 29px;
    overflow-x: auto;

    &:hover {
      opacity: 0.8;
    }
  }
}