body, html {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, ul, p {
  padding: 0;
  margin: 0;
}

input, textarea, button {
  outline: none;
}

body {
  font-family: Tahoma, sans-serif;
}

#app {
  height: 100%;
  display: flex;

  .board {
    flex-grow: 2;
  }
}