@import "../../assets/stylesheets/import";

.card-comment {
  padding-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);

  .avatar {
    margin: 0 0px -7px 0;
  }

  .author {
    @include card-details-header;
  }

  .date {
    @include card-details-sub-header;
  }

  .content {
    @include rounded-box;
    @include shadowed-box;
    background-color: $white;
    padding: 10px;
    margin-top: 10px;
    white-space: pre-wrap;
    font-size: 15px;
    color: $black;
  }

  .attachment {
    text-decoration: none;

    img {
      max-width: 100%;
      margin: 10px auto;
      display: block;
    }

    .attachment-file-wrapper {
      @include rounded-box;
      display: block;
      border: 1px solid $grey;
      width: 70px;
      height: 70px;
      margin: 0 auto 10px auto;
    }

    .attachment-description {
      color: $grey;
      text-align: center;
      font-size: 12px;
      display: block;
    }
  }
}
