@import "../../assets/stylesheets/style";


.add-card-form {
  padding: 10px 0;
  border-top: 1px solid $silver;

  &>.prompt {
    display: block;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .title {
    @include rounded-box;
    padding: 10px;
    color: $black;
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
  }

  .btn-success {
    margin-right: 10px;
  }
}
