@import "../../assets/stylesheets/import";

.side-menu {
  background-color: $porcelain;
  height: 100%;
  padding: 10px;
  box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.1);
  color: $black;

  .section {
    @extend .clearfix;
    margin-bottom: 20px;
  }

  .section-title {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .section.user-section {
    text-align: center;
    .section-title {
      float: left;
    }

    .btn-logout {
      float: right;
    }
  }

  .input-nickname {
    text-align: center;
    font-size: 12px;
    font-weight: normal;
  }

  .user-id {
    color: $grey;
    font-size: 10px;
  }

  .settings-section {
    &.opened {
      .section {
        display: block;
      }

      .settings-switch:after {
        content: '▲'
      }
    }

    .settings-switch {
      user-select: none;
      cursor: pointer;

      &:after {
        display: inline-block;
        margin-left: 5px;
        font-size: 11px;
        position: relative;
        top: -2px;
        content: '▼';
      }
    }

    .section {
      display: none;
    }
  }
}

.color-picker {
  .color {
    @include rounded-box;
    cursor: pointer;
    float: left;
    display: block;
    width: 25px;
    height: 25px;
    margin: 0 5px 5px 0;
  }
}

.label-editor {
  .label {
    @include rounded-box;
    display: block;
    width: 100%;
    height: 25px;
    padding: 1px;
    margin-bottom: 5px;
  }

  .editable-input {
    padding: 1px 3px;
    height: 100%;
    cursor: text;

    &:not(:focus) {
      @include outlined-text;
    }
  }
}