@import "../../assets/stylesheets/app";

.card-details {
  width: 570px;
  min-height: 500px;
  background-color: $grey;
  border-radius: 3px;
  padding: 15px;
  cursor: initial;

  .title {
    font-size: 16px;
    color: $black;
  }

  .sub-title {
    font-size: 13px;
    font-weight: normal;
    margin: 15px 0 5px 0;
    color: $grey-dark;

    &.no-top-margin {
      margin-top: 0;
    }
  }

  .description-input {
    color: $black;
    font-size: 14px;
    min-height: 125px;
    border-radius: 3px;
    border: 1px solid transparent;

    &:hover, &:focus {
      border: 1px solid $grey-dark;
    }
  }
}

.card-comment {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  .author {
    font-size: 16px;
    color: $black;
  }

  .date {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    color: $grey-dark;
  }

  .content {
    background-color: $white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
    white-space: pre;
  }
}
