@import "../../assets/stylesheets/import";


.add-column-form {
  width: 270px;
  padding: 10px 10px 0 10px;

  &>.prompt {
    @include rounded-box;
    background-color: rgba(0, 0, 0, .12);
    padding: 0 4px;
    line-height: 30px;
    font-size: 14px;
    color: $black;
    cursor: pointer;

    &:hover {
      color: $iron;
      background-color: rgba(0, 0, 0, .32);
    }
  }

  .column-title {
    @include editable-input;
    font-weight: normal;
    background-color: $white;
    margin-bottom: 10px;
  }

  .btn-success {
    margin-right: 10px;
  }
}
