@import "../../assets/stylesheets/style";

.card {
  @include rounded-box;
  background-color: $white;
  cursor: pointer;

  &:hover {
    background-color: $porcelain;
  }

  &>.title {
    color: $black;
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
    word-wrap: break-word;
  }

  .labels {
    float: right;
    list-style-type: none;
  }

  .label {
    @include rounded-box;
    display: block;
    width: 12px;
    height: 12px;
    margin-left: 2px;
    float: left;
  }
}

.card-details-full-screen-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 60;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, .6);

  .card-details {
    margin: 0 auto;
    z-index: 25;
  }
}

.card.card-dragging {
  display: none;

  &.gu-mirror {
    display: block;
  }
}