@import "../../assets/stylesheets/import";

.card-wrapper {
  @include rounded-box;
  background-color: $white;
  cursor: pointer;

  &.card-opened, &:hover {
    background-color: $porcelain;
  }

  .card {
    @extend .clearfix;
    color: $black;
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
    word-wrap: break-word;

    &> .title {
      display: block;
    }

    &> .labels {
      float: right;

      .label {
        @include rounded-box;
        display: block;
        width: 12px;
        height: 12px;
        margin-left: 2px;
        float: left;
      }
    }

    &> .members {
      float: right;

      .member {
        display: block;
        width: 18px;
        height: 18px;
        margin-left: 2px;
        float: left;
      }
    }
  }

  .comment-counter {
    font-size: 10px;
    color: $silver;
    margin-top: 5px;
  }
}

.card-details-full-screen-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 60;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, .6);

  .card-details {
    margin: 0 auto;
  }
}

.card-wrapper.card-dragging {
  display: none;

  &.gu-mirror {
    display: block;
  }
}