@import "../../assets/stylesheets/import";

$background-color: rgba(222, 222, 222, 0.95);

.board {
  background-color: $malachite; // will be reapplied by theme css
  overflow-x: auto;

  .bg-wrapper {
    background-color: $background-color;
    display: flex;
  }

  .columns {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .column {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }
}

//
// draggable element
.column.gu-mirror {
  background-color: $background-color;
}
